* {
  margin:0;
  padding: 0;
  text-decoration: none;    
}

body {
  width: 1440px;
  height: 4174px;
}

header {
  background: url('assets/image-header.jpg') no-repeat;
  background-size: contain;
  width: 100%;
  height: 800px;
}

.logo {
  position: absolute;
  margin-top: 2rem;
  margin-left: 3.2rem;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu a {
  margin-top: 2.5rem;
  margin-right: 4.7rem;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.menu .button {
  margin-top: 1.0rem;
  justify-content: center;
  background-color: white;
  padding: 1.5rem 3.5rem;
  color: #24303E;
  border-radius: 2.8rem;
  
}

header h1 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  margin-top: 190px;

  color: #FFFFFF;
}

.arrow {
  margin-top: 80px;
  margin-left: 700px;
}

/**/

h2 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
  color: #24303E;
}

p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
}

.learn {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
}

.div1 {
  display: flex;
  background-color: #F2F2F2;
  align-items: center;
}

.div1interna {
  display: flex;
  flex-direction: column;
  margin-left: 165px;
  margin-right: 110px;
}

.div1interna h2 {
  margin-bottom: 32px;
}

.div1interna p {
  margin-bottom: 40px;
}

.div2 {
  display: flex;
  background-color: #F2F2F2;
  align-items: center;
}

.div2interna {
  display: flex;
  flex-direction: column;
  margin-bottom: 157px;
}

.div2interna h2 {

  margin-right: 165px;
  margin-left: 110px;

}

.div2interna p {
  margin: 33px 165px 40px 110px;
}

/**/


.div3 {
  display: flex;
  height: 600px;
}

.div3 h2 {
  margin-top: 398px;
  text-align: center;
}

.div3 p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #19536C;
  margin-top: 12px;
  margin-right: 190px;
  margin-left: 191px;

}

.div3-1 {
  background: url('assets/image-graphic-design.jpg');
  width: 50%;
}

.div3-2 {
  background: url('assets/image-photography.jpg');
  width: 50%;
}

.div3-2 h2,.div3-1 h2 {
  color: rgba(5, 44, 59, 0.75)
}

.client {
  display: flex;
  height: 777px;
  flex-direction: column;
}

.client .title {
  font-family: 'Fraunces';
  color: #A7AAAD;
  letter-spacing: 5px;
  margin-top: 160px;
  margin-bottom: 81px;
  text-align: center;
  font-size: 25px;
}

.pessoas {
  display: flex;
  flex-direction: row;
}

.pessoas img {
  border-radius: 50%;
  margin-bottom: 58px;
}

.pessoas p {
  text-align: center;
  margin-bottom: 69px;
}

.emily, .thomas, .jennie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-row {
  display: flex;
  align-items: flex-start;
  flex-basis: 100px;
}

.img1 {
  width: 25%;
}
.img2 {
  width: 25%;
}
.img3 {
  width: 25%;
}
.img4 {
  width: 25%;
}

footer {
  background-color: #90D4C6;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer img {
  width: 170px;
  height: 33px;
  margin-top: 72px;
  align-items: center;
  margin-right: 20px;
}

.itens-footer {
  margin-top: 40px
}

.itens-footer a {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #458D7E;
  display: inline-flex;
  margin-right: 50px;


}

.icons img {
  margin-right: 28px;
  width: 20px;
  height: 20px;
}


